# Compiled binaries
*.bin
*.so
*.dylib
*.exe
*.log
*.logs
bin/logs/

# Environment files
.env
.env.local
.env.*.local

# Bin directory exclusions
bin/*.bin
bin/main.bin
bin/.env
bin/projects/
bin/project.json
bin/backups/
bin/collections/
bin/temp/
bin/logs/
bin/tmp/
bin/system/


# Allow specific Go and Odin source files
!main/main.odin
# Exclude Go module files if not needed
go.sum
go.mod

# System and IDE files
.DS_Store
.ropeproject
*.key
*.ostrichdb
*project.json
*.claude
*rate_limits
*requests.json